#bs1{
	margin-bottom: 10px;
}
#bs2{
	margin-bottom: 10px;
}
#bk1{
	margin-bottom: 10px;
}
#bk2{
	margin-bottom: 10px;
}
#bk3{
	margin-bottom: 10px;
}
#bk4{
	margin-bottom: 10px;
}

#edited_bs1{
	margin-bottom: 10px;
}
#edited_bs2{
	margin-bottom: 10px;
}
#edited_bk1{
	margin-bottom: 10px;
}
#edited_bk2{
	margin-bottom: 10px;
}
#edited_bk3{
	margin-bottom: 10px;
}
#edited_bk4{
	margin-bottom: 10px;
}